<%- include('../partials/header') %>
</br></br>
<div id="clickable">
  <a href="../neighbourhoods">Back to my Neighbourhood</a>
  <a href="./show">Submit Updates</a>
</div>

<div class="details-container">
  <h1>North Toronto </h1>
  <h5><%= development.STREET_NUM %> <%= development.STREET_NAME %> <%= development.STREET_TYPE %> </h5>
  Application Number: <%= development.APPLICATION_NUMBER %> </br></br>

  <form action="/developments/<%= development._id %>/edit" method="POST">
    <label>Application Type:</label>
    <select name="APPLICATION_TYPE">
      <option value=" " selected>Select One</option>
      <option value="Plan of Condominium">CD</option>
      <option value="Official Plan Amendment">OZ</option>
      <option value="Part Lot Control Exemption">PL</option>
      <option value="Plan of Subdivision">SB</option>
      <option value="Site Plan Control">SA</option>
      <option value="Zoning By-law Amendment">OZ</option>
    </select>
    </br></br>

    <label>Description:</label>
    <textarea placeholder="Enter comment here" name="DESCRIPTION"></textarea>
    </br></br>

    <label>Status:</label>
    <select name="STATUS">
      <option value=" " selected>Select One</option>
      <option value="Notice Prepared (CO)">Notice Prepared (CO)</option>
      <option value="Approved">Approved</option>
      <option value="Refused">Refused</option>
      <option value="Deferred">Deferred</option>
      <option value="Prepared Notice">Prepared Notice</option>
      <option value="Hearing Scheduled (COA)">Hearing Scheduled (COA)</option>
      <option value="Approved with Conditions">Approved with Conditions</option>
      <option value="OMB Appeal">OMB Appeal</option>
      <option value="Notice Prepared (MV)">Notice Prepared (MV)</option>
      <option value="TLAB Appeal">TLAB Appeal</option>
      <option value="Appeal Received by C of A">Appeal Received by C of A</option>
      <option value="Appeal Received by TLAB">Appeal Received by TLAB</option>
      <option value="Hearing Scheduled (TLAB)">Hearing Scheduled (TLAB)</option>
      <option value="New Hearing Date">New Hearing Date</option>
      <option value="Prehearing Scheduled">Prehearing Scheduled</option>
      <option value="Appeal Decision Pending">Appeal Decision Pending</option>
      <option value="Appeal Dismissed">Appeal Dismissed</option>
      <option value="Decision Issued">Decision Issued</option>
      <option value="Decision Issued">Decision Issued</option>
      <option value="Revised Decision Issued">Revised Decision Issued</option>
      <option value="Review of Decision Requested">Review of Decision Requested</option>
    </select>
    </br></br>

    <label>Hearing Date:</label>
    <input type="date" class="date" name="HEARING_DATE" style="width:35%"></textarea>
    </br></br>

    <label>Date Application Submitted:</label>
    <input type="date" class="date" name="HEARING_DATE" style="width:35%"></textarea>
    </br></br>

    <button class="btn waves-effect waves-light black" type="submit" name="action">Submit
      <i class="material-icons right">add</i>
  </form>
</div>
</br></br></br></br>

<%- include('../partials/footer') %>