<%- include('../partials/header') %>
</br></br>
<div id="clickable">
  <a href="../neighbourhoods">Back to my Neighbourhood</a>
  <a href="./edit">Edit Application</a>
</div>

<div class="developments-container">
  <h1>North Toronto </h1>
  <h5><%= development.STREET_NUM %> <%= development.STREET_NAME %> <%= development.STREET_TYPE %> </h5>
  <%= development.APPLICATION_TYPE %> - <%= development.STATUS %></br>
  Application Number: <%= development.APPLICATION_NUMBER %> </br></br>

  <p>Date Application Submitted: <%= development.DATE_SUBMITTED %></br>
    <% if (development.HEARING_DATE === 'null') { %>
    Date of Hearing: No date has been set at this time
    <% } else { %>
    Date of Hearing: <%= development.HEARING_DATE %>
    <% }; %>
  </p>

  <div class="image" style="height: 30vh;"><i class="medium material-icons center">insert_photo</i></br>No images have been added yet</div>
  <div class="development-details">
    </br></br>
    <p>Project Description:
    </p>
    <h6><%= development.DESCRIPTION %></h6></br></br></br>
  </div>

  <p>Submit a Comment:</p>
  <form id="add-review-form" method="POST" action="/developments/<%= development._id %>/reviews">
    <textarea placeholder="Enter comment here" name="content"></textarea>
    </br></br>
    <input type="submit" value="SUBMIT" />
  </form>
  </br></br></br>


  <p>Community Feedback:
  </p>
  <% if (development.review.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Content</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% development.review.forEach(function(r) { %>
      <tr>
        <td><%= r.user.name %></td>
        <td><%= r.content %></td>
        <td><%= r.createdAt.toLocaleDateString() %></td>
        <td>
          <form action="/developments/<%= development._id %>/reviews/<%= r._id %>?_method=delete" method="POST">
            <button>X</button>

          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <p>No Comments Yet</p>
  <% }; %>

  </br></br></br></br>
  <%- include('../partials/footer') %>