<%- include('./partials/header') %>

<section class="city - container">
    <h1> Welcome to North Toronto </h1>
    <h3> Stay up to date with development </br>
    happening in your neighbourhood </h3>

    <!-- map -->
    
    <table>
        <thead>
          <tr>
            <th>Street Number</th>
            <th>Street Name</th>
            <th>Explore</th>          
          </tr>
        </thead>
        <tbody>
          <% developmentData.forEach(function(d) { %>
          <tr>
            <td><%= d.STREET_NUM %> <%= d.STREET_NAME %> </td>
            <td><a href="/developments/show/<%= d._id %>">Details</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>

    <h3>Select your neighbourhood</h3>
</section>

<%- include('./partials/footer') %>