<%- include('./partials/header') %>

<section class="city - container">
    <h1> Welcome to North Toronto </h1>
    <h3> Stay up to date with development </br>
    happening in your neighbourhood </h3>

    <!-- map -->
  </br>
</br>
    <div id="map" style="height: 50vh;"></div>
    <script src="javascripts/webmap.js"></script>
  </br>
</br>
    <table>
        <thead>
          <tr>
            <th>Address</th>
            <th>Explore</th>          
          </tr>
        </thead>
        <tbody>
          <% developmentData.forEach(function(d) { %>
          <tr>
            <td><%= d.STREET_NUM %> <%= d.STREET_NAME %> <%= d.STREET_TYPE %></td>
            <td><a href="/developments/show/<%= d._id %>">Details</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
</section>

<%- include('./partials/footer') %>