<%- include('./partials/header') %>

<section class="neighbourhood - container">
    <h1> Welcome to North Toronto </h1>
    <h5> Stay up to date with development </br>
    happening in your neighbourhood </h5>
  
    <!-- map -->
    <table>
        <thead>
          <tr>
            <th>Street Number</th>
            <th>Street Name</th>
            <th>Explore</th>          
          </tr>
        </thead>
        <tbody>
          <% Data.forEach(function(d) { %>
          <tr>
            <td><%= d.STREET_NUM %> </td>
            <td><%= d.STREET_NAME %> </td>
            <td><a href="/developments/<%= d._id %>">Details</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
</section>

<%- include('./partials/footer') %>