<%- include('../partials/header') %>
</br>
</br>
</br>

<div class="developments-container">
</br>
</br>
</br>
<div class="development-details">
      <h5><%= result.STREET_NUM %> <%= result.STREET_NAME %> <%= result.STREET_TYPE %></h5></br>
      <%= result.APPLICATION_TYPE %> - <%= result.STATUS %></br>
      <%= result.APPLICATION_NUMBER %> </br></br>
      <h6><%= result.DESCRIPTION %></h6></br></br></br>
    </div>
<p>Submit a Comment</p>
      <form
        id="add-review-form"
        method="POST"
        action="/developments/<%= result._id %>"
      >
        <textarea placeholder="Enter comment here"></textarea>
      </br></br>
        <input type="submit" value="SUBMIT" />
      </form>
    </br></br></br>
      <div id="clickable">
        <a href="../neighbourhoods">Back to my Neighbourhood</a>
      </div>

<%- include('../partials/footer') %>
