<%- include('../partials/header') %>
<div class="developments-container">
  <h1>North Toronto </h1>
  <h5><%= result.STREET_NUM %> <%= result.STREET_NAME %> <%= result.STREET_TYPE %> </h5>
  <%= result.APPLICATION_TYPE %> - <%= result.STATUS %></br>
  <%= result.APPLICATION_NUMBER %> </br></br>
<div class="image"style="height: 30vh;"><i class="medium material-icons center">insert_photo</i></br>No images have been added yet</div>
<div class="development-details">
      </br></br>
      <p>Project Description: <p>
      <h6><%= result.DESCRIPTION %></h6></br></br></br>
    </div>
<p>Submit a Comment</p>
      <form
        id="add-review-form"
        method="POST"
        action="/developments/<%= result._id %>"
      >
        <textarea placeholder="Enter comment here"></textarea>
      </br></br>
        <input type="submit" value="SUBMIT" />
      </form>
    </br></br></br>
      <div id="clickable">
        <a href="../neighbourhoods">Back to my Neighbourhood</a>
      </div>

<%- include('../partials/footer') %>
