<%- include('../partials/header') %>
</br>
</br>
</br>
<div class="developments-container">
      <h5><%= result.STREET_NUM %> <%= result.STREET_NAME %> <%= result.STREET_TYPE %></h5></br>
      <%= result.APPLICATION_TYPE %> - <%= result.STATUS %></br>
      <%= result.APPLICATION_NUMBER %> </br></br>
      <%= result.DESCRIPTION %></br></br></br>


<h5>Submit a Comment</h5>
      <form
        id="add-review-form"
        method="POST"
        action="/developments/show/:id/reviews"
      >
        <label>Comment:</label>
        <textarea name="content"></textarea>
        <input type="comment" value="submit" />
      </form>
      
<%- include('../partials/footer') %>
